body {
    padding-top: 150px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.left {
    text-align: left;
}
 
.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

.right {
    text-align: right;
} 

.center {
    text-align: center;
} 

.inline {
    display: inline-block;
}

.product_promo h4{
    height: 50px;
}

.requiredLabel:after {
    color: red;
    content: " *";
}

.form-group {
    padding-top: 20px;
}

#sectionTitle {
    padding-bottom: 50px;
}

.dropdown-menu li:hover {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none;
}

.border-bottom{
  border-bottom:1px solid #ddd;
  padding-bottom:20px
}

.thumbnail {
    width: 50px;
    height: 50px;
}

.hasOffer {
    text-decoration: line-through;
    font-size: 90%;
    margin-bottom: 0;
}

#offer {
    margin-top: 0;
}

.list-group.panel > .collapse >  .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 20px;
}

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
}

#productPath {
    margin-bottom: 30px;
}

.search {
    float: none;
    margin-bottom: 5px;
    height: 90%;
}

.searchDiv {
    float: none;
    margin-bottom: 5px;
    margin-top: 15px;
    height: 50px;
}

#bs-example-navbar-collapse-1 {
    font-size: 20px;
}

#bs-example-navbar-collapse-1 > .nav.navbar-nav{
    font-size: 15px;
    float: right;
}

.navbar-brand {
    margin-top: 10px;
    font-size: 60px;
    text-shadow: 2px 2px turquoise;
}

.sidebar-offcanvas .selectedMenu{
    background-color:antiquewhite;
}

.sidebar-offcanvas .collapse.nav{
    width:90%; 
    margin-left:10%;
}

.hasImage:hover{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}